<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="service_box text-center">
                    <div class="service_box_img">
                        <img src="../assets/img/foxy_icon.png" alt="">
                    </div>
                    <div>
                        <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur dolore esse est harum in
                            ipsa, iusto magnam maiores molestiae pariatur porro qui, quo recusandae repellendus soluta
                            suscipit tempora vero voluptatibus?</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="service_box text-center">
                    <div class="service_box_img">
                        <img src="../assets/img/foxy_icon.png" alt="">
                    </div>
                    <div>
                        <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur dolore esse est harum in
                            ipsa, iusto magnam maiores molestiae pariatur porro qui, quo recusandae repellendus soluta
                            suscipit tempora vero voluptatibus?</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="service_box text-center">
                    <div class="service_box_img">
                        <img src="../assets/img/foxy_icon.png" alt="">
                    </div>
                    <div>
                        <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur dolore esse est harum in
                            ipsa, iusto magnam maiores molestiae pariatur porro qui, quo recusandae repellendus soluta
                            suscipit tempora vero voluptatibus?</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>