@import "variables";

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
}

.container-fluid {
  padding: 0;
  margin: 0;
}

header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: $backgroundColor;

  .nav-link {
    color: $bodyColor;

    &:hover, &:focus {
      color: $bodyColor2;
    }
  }

  .dropdown-menu {
    background-color: $bodyColor2;

    .dropdown-item {
      color: $bodyColor;
      cursor: pointer;
    }

    .dropdown-item:focus, .dropdown-item:hover {
      color: $backgroundColor2;
      background-color: transparent;
    }
  }
}

.carousel-caption {
  height: 100%;
  top: 0;
  right: unset;
  bottom: unset;
  align-items: center;

  .caption_wrapper {
    background-color: #000000a1;
    min-height: 300px;
    padding: 15px;
  }
}

.service_box {
  padding: 15px;

  .service_box_img {
    width: fit-content;
    margin: 0 auto 15px auto;
    padding: 25px;
    border-radius: 80px;
    background-color: rgba(97,100,255,0.15);
  }
}

footer {
  padding: 15px;
  background-color: $backgroundColor2;
}


